Flow1.json
[{"id":"294566c2.90482a","type":"tab","label":"p1","disabled":false,"info":""},{"id":"8525d65.75af328","type":"http in","z":"294566c2.90482a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["1d3944e4.7768ab"]]},{"id":"5f325395.e62aac","type":"debug","z":"294566c2.90482a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]},{"id":"9576d646.d5ea68","type":"http response","z":"294566c2.90482a","name":"","statusCode":"","headers":{},"x":620,"y":120,"wires":[]},{"id":"fb04529a.6f0b2","type":"rpi-gpio in","z":"294566c2.90482a","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":150,"y":320,"wires":[["94debaa4.c0c648"]]},{"id":"94debaa4.c0c648","type":"function","z":"294566c2.90482a","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["5f325395.e62aac"]]},{"id":"1d3944e4.7768ab","type":"function","z":"294566c2.90482a","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["5f325395.e62aac","9576d646.d5ea68"]]}]