Flow2.json
[{"id":"3bc4f889.3c69f8","type":"tab","label":"p2","disabled":false,"info":""},{"id":"d68a7e8d.a1388","type":"http in","z":"3bc4f889.3c69f8","name":"on","url":"/ledon","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["49d987cb.f34758"]]},{"id":"49d987cb.f34758","type":"function","z":"3bc4f889.3c69f8","name":"Set to 1","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["8d432c75.cf853","7fbedf1.6f1a42"]]},{"id":"8d432c75.cf853","type":"rpi-gpio out","z":"3bc4f889.3c69f8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":640,"y":140,"wires":[]},{"id":"802a267c.8c07e8","type":"http in","z":"3bc4f889.3c69f8","name":"off","url":"/clear","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["1823aa72.ae6606"]]},{"id":"1823aa72.ae6606","type":"function","z":"3bc4f889.3c69f8","name":"Set to 0","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["8d432c75.cf853","3091a40a.6b92dc"]]},{"id":"bfb0f02d.05a39","type":"http response","z":"3bc4f889.3c69f8","name":"","statusCode":"","headers":{},"x":750,"y":440,"wires":[]},{"id":"3091a40a.6b92dc","type":"function","z":"3bc4f889.3c69f8","name":"return","func":"msg.payload = \"Led OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["bfb0f02d.05a39"]]},{"id":"7fbedf1.6f1a42","type":"function","z":"3bc4f889.3c69f8","name":"return","func":"msg.payload = \"Led ON\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["bfb0f02d.05a39"]]}]